@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
:root {
  --primary1: #f72585;
  --primary: #02ad91;
  --secondary: #e6e6e6;
  --border-radius: 10px;
  --accent: #f0f0f0;
}
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
html {
  position: relative;
    min-height: 100%;
}
body {
  margin: 0 0 100px;
  /* bottom = footer height */
  padding: 25px;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid var(--secondary);
}
.navbar h1 {
  color: var(--primary);
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: var(--primary);
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 10px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px;
  margin: 20px 0;
  border-bottom: 1px solid var(--secondary);
  border-radius: var(--border-radius);
  background-color: var(--accent);
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2 {
  text-align: center;
  font-size: 20px;
  color: var(--primary);
  margin-bottom: 8px;
}
.right p { text-align: center;}
.blog-preview a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.right {
  padding-left: 2rem;
}
.images {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: var(--border-radius);
  margin-bottom: 20px;
}


/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: var(--primary);
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: var(--primary);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.blog-details .images {
  margin-left: auto;
  margin-right: auto;
  /* min-width: 400px; */
  max-width: 600px;
  height: 400px;
  margin-bottom: 30px;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: var(--primary);
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid var(--secondary);
  box-sizing: border-box;
  display: block;
}
.create button {
  background: var(--primary);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* The Footer */
footer {
  background-color: var(--accent);
  padding: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

@media (min-width: 500px) {
  .blog-preview a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
  }

  .images {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: var(--border-radius);
    margin-bottom: 0;
  }

  .blog-preview p, .blog-preview h2 {
    text-align: left;
  }

  .blog-details .images {
    width: 100%;
  }
}
@media (max-width: 404px) {
  /* .navbar {
    display: flex;
    flex-direction: column;
    border: none;
  } */
  .navbar h1 {
    font-size: 17px;
  }
  .links {
    font-size: 12px;
  }
  /* .links {
    margin-top: 20px;
    margin-right: auto;
  } */
}
